<div>
  {{#if listProd}}
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>producto</th>
          <th>precio</th>
          <th>imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each listProd}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
              <img src={{this.thumbnail}} alt={{this.product}} />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>no hay productos</p>
  {{/if}}
</div>